<template>
    <div>
        <md-layout md-row>
            <md-input-container style="flex: 1" md-inline>
                <md-icon v-if="showIcon">{{icon}}</md-icon>
                <label>{{label}}</label>
                <md-input ref="searchBar" v-model="text" @keyup.enter.native="call"></md-input>

                <transition name="fade">
                    <md-icon class="clear" @click.native="clear()" v-if="text != ''">clear</md-icon>
                </transition>
            </md-input-container>    
            <div style="margin-left: 8px" v-if="!!$slots['extra']">
                <slot v-if="!!$slots['extra']" name="extra"></slot>
            </div>
            
            <md-button @click.native="call" class="search-button md-raised md-accent">{{ buttonText }} 
                <md-icon v-if="buttonIcon">{{buttonIcon}}</md-icon>
            </md-button>
        </md-layout>

        <md-layout md-row v-show="hint.length > 0" style="margin-top: -20px">
            <span class="md-caption">{{hint}}</span>
        </md-layout>
    </div>
</template>

<script>
export default {
    name: 'cc-search',
    props: {
        label: {
            type: String,
            default: 'Pesquisar'
        },
        icon: {
            type: String,
            default: 'search'
        },
        showIcon: {
            type: Boolean,
            default: false
        },
        buttonText: {
            type: String,
            default: 'Pesquisar'
        },
        buttonIcon: {
            type: String,
            default: ''
        },
        actionMethod: {
            type: Function,
            required: true
        },
        focus: {
            type: Boolean,
            default: false
        },
        initialText: {
            type: String,
            default: ''
        },
        hint: {
            type: String,
            default: ''
        }
    },
    mounted () {
        if (this.focus) {
            this.setFocus()
        }
    },
    data () {
        return {
            text: ''
        }
    },
    created () {
        this.text = this.initialText
    },
    methods: {
        call () {
            if (this.actionMethod && typeof this.actionMethod === 'function') {
                this.actionMethod(this.text)
            } else {
                console.error('call(): fn callback nao declarada.')
            }
        },
        setFocus () {
            setTimeout(() => { this.$refs.searchBar.$el.focus() }, 100)
        },
        clear () {
            this.text = ''
            this.setFocus()
        }
    }
}
</script>

<style scoped>
    .md-caption {
        color: rgba(0, 0, 0, .57);
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }
    
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0;
    }

    .clear {
        font-size: 16px;
    }

    .clear::after {
        background: none !important;
    }

    .clear:hover {
        cursor: pointer
    }

    .search-button {
        height: 20px;
        margin-top: 16px;
        min-width: 20px;
    }

    .md-input-container label {
        font-size: 13px;
    }

    .md-input-container.md-input-inline.md-input-focused label {
        font-size: 14px;
    }

    .md-button {
        margin-right: 0px;
        margin-left: 8px;
    }
</style>
