<template>
    <md-input-container :class="{'md-input-invalid': veeErrors.has(nameInput)}" :style="'width: ' + width">
        <label>{{label}}</label>
        <md-input 
            :placeholder="placeholder" 
            :required="required"
            :type="type" 
            v-model="model"
            :readonly="readOnly"
            @input="onInput"
            :maxlength="maxlength"
            v-validate="validate"
            :data-vv-name="nameInput"
            >
        </md-input>
        <span class="md-error">{{ veeErrors.first(nameInput) }}</span>
  </md-input-container>
</template>

<script>
    export default {
        name: 'cc-campo',
        data() {
            return {
                model: '',
                validate: ''
            }
        },
        props: {
            value: { required: true },
            label: {
                Type: String
            },
            placeholder: {
                Type: String
            },
            type: {
                Type: String,
                default: 'text'
            },
            readOnly: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            maxlength: {
                type: Number
            },
            width: {
                type: String,
                default: '100%'
            },
            inputChange: {
                Type: Function
            },
            nameInput: {
                Type: String,
                required: true
            },
            upperCase: {
                Type: Boolean,
                default: false
            }
        },
        created () {
            if (this.required) {
                this.validate = 'required'
            } else {
                this.validate = ''
            }
        },
        watch: {
            model: function(newValue) {
                if (this.upperCase && newValue !== undefined) {
                    this.model = newValue.toUpperCase()
                }
            }
        },
        mounted () {
            this.model = this.value
        },
        methods: {
            getData: function() {
                return this.model
            },
            onInput: function() {
                this.$emit('input', this.model)
                if (this.inputChange && typeof this.inputChange === 'function') {
                    if (this.nameInput) {
                        this.inputChange(this.nameInput, this.model)
                    } else {
                        this.inputChange(this.model)
                    }
                }
            }
        }
    }
</script>

