<template>
    <md-input-container :class="{'md-input-invalid': veeErrors.has(nameInput)}" :style="'width: ' + width">
        <label>{{label}}</label>
        <md-input
            v-validate="validate"
            :readOnly="readOnly"
            :data-vv-name="nameInput"
            :placeholder="placeholder"
            @change.native="onInput"
            v-model="model"
            :required="required"
            @keypress.native="validaApenasNumeros($event)"
        ></md-input>
        <span class="md-error">{{ veeErrors.first(nameInput) }}</span>
        </md-input-container>

</template>

<script>
    export default {
        name: 'cc-campo-decimal',
        props: {
            value: { required: true },
            label: {
                type: String
            },
            placeholder: {
                type: String
            },
            readOnly: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            width: {
                type: String,
                default: '100%'
            },
            inputChange: {
                type: Function
            },
            nameInput: {
                type: String
            },
            money: {
                type: Boolean,
                default: false
            }
        },
        data () {
            return {
                model: '',
                validate: ''
            }
        },
        created () {
            if (this.required) {
                this.validate = 'required'
            } else {
                this.validate = ''
            }
        },
        mounted () {
            this.model = this.value
        },
        watch: {
            model: function (newValue) {
                this.model = this.formatMaskMoney(this.model)
            }
        },
        methods: {
            onInput: function() {
                this.$emit('input', this.model)
                if (this.inputChange && typeof this.inputChange === 'function') {
                    var dadoFormato = this.parseValue(this.model)
                    if (this.nameInput) {
                        this.inputChange(this.nameInput, dadoFormato)
                    } else {
                        this.inputChange(dadoFormato)
                    }
                }
            },
            validaApenasNumeros(event) {
                if (!(event.charCode >= 48 && event.charCode <= 57)) {
                    event.preventDefault()
                }
            },
            formatMaskMoney (valor) {
                let input = document.createElement('input')
                input.value = valor
                if (this.money) {
                    this.$mask(input).maskMoney({ unit: 'R$', decimal: ',', thousands: '.' })
                } else {
                    this.$mask(input).maskMoney({ decimal: ',', thousands: '.' })
                }
                return input.value
            },
            parseValue: function (string) {
                var pattern = /R\$|\./ig
                return string.replace(pattern, '').replace(',', '.')
            }
        }
    }
</script>
