<template>
    <md-input-container>
        <label>{{label}}</label>
        <md-input v-model="model" :disabled="disabled" @keyup.native="onKeyup" @blur.native="onBlur" @input="updateValue()"></md-input>
    </md-input-container>
</template>

<script>
import 'jquery/dist/jquery'
import 'jquery-maskmoney/dist/jquery.maskMoney'

/* eslint-disable no-undef */
export default {
    name: 'cc-input-money',

    props: {
        /* two-way data binding */
        value: { required: true },

        label: {
            type: String,
            default: ''
        },

        disabled: {
            type: Boolean,
            default: false
        },

        /* Objeto de formatacao do campo.
         *   Retirado de: https://github.com/plentz/jquery-maskmoney
         */
        moneyOptions: {
            type: Object,
            default: () => {
                return {
                    prefix: 'R$ ',
                    allowNegative: true,
                    thousands: '.',
                    decimal: ',',
                    affixesStay: true,
                    allowEmpty: false
                }
            }
        }
    },

    data() {
        return {
            model: this.value,
            inputElement: null
        }
    },

    watch: {
        value(newValue) {
            // garante que o valor exibido no input seja no formato currency
            this.model = this.formatToCurrency(newValue)
        }
    },

    mounted() {
        this.inputElement = this.$el.querySelector('input')
        this.setMask()
        this.model = this.formatToCurrency(this.value)
    },

    methods: {
        /**
         * Formata um numero float para uma String em formato R$ 1.000,00
         * @param {Number} value - valor em float 1000.00
         * @return {String} string do valor no formato R$ 1.000,00
         */
        formatToCurrency(value) {
            // mascara o campo
            jQuery(this.inputElement).maskMoney('mask', value)

            // retorna a string com a mascara
            return jQuery(this.inputElement).val()
        },

        /**
         * Formata uma string no formato currency para um numero float
         * @param {String} value - string no formato currency. Ex: R$ 1.000,00
         * @return {Number}
         */
        formatToDecimal(value) {
            // retira a mascara e retorna o valor como Number
            return parseFloat(jQuery(this.inputElement).maskMoney('unmasked')[0])
        },

        /**
         * Persiste a mascara no input quando o mesmo perder o foco
         */
        onBlur() {
            this.setMask()
        },

        /**
         * Atualiza o model utilizado no componente com o valor digitado no input
         * @param {KeyboardEvent} event
         */
        onKeyup(event) {
            this.model = event.target.value
            this.updateValue()
        },

        /**
         * Emite o valor do model convertido para decimal
        */
        updateValue() {
            this.$emit('input', this.formatToDecimal(this.model))
        },

        /**
         * Seta a mascara de moeda no input
         */
        setMask() {
            if (this.inputElement) {
                jQuery(this.inputElement).maskMoney(this.moneyOptions)
            }
        }
    }
}
</script>
