<template>
    <div class="cntblz-sidenav">
        <md-sidenav class="md-left" ref="plataformaSidenav">
            <md-toolbar :class="{ 'md-large': largeToolbar }">
                <div class="md-toolbar-container">
                    <contabilizei-logo centralizado></contabilizei-logo>
                </div>
            </md-toolbar>

            <md-list style="padding-top: 0px;">
                <div v-for="(menu, index) in items" :key="index" :class="{ 'bordered': bordered }">
                    <md-list-item v-if="menu.type.toLowerCase() === 'group'">
                        <md-icon>{{ menu.icon }}</md-icon>
                        <span>{{menu.name}}</span>

                        <md-list-expand v-if="menu.children && menu.children.length > 0">
                            <md-list>
                                <div v-for="(childMenu, childIndex) in menu.children" :key="childIndex">
                                    <md-list-item :href="childMenu.route" v-if="childMenu.type.toLowerCase() === 'link'" @click="$refs['plataformaSidenav'].close()">
                                        <md-icon>{{ childMenu.icon }}</md-icon>
                                        <span>{{childMenu.name}}</span>
                                    </md-list-item>

                                    <md-list-item v-else-if="childMenu.type.toLowerCase() === 'action'" class="click" @click="actionClick(childMenu)">
                                        <md-icon>{{ childMenu.icon }}</md-icon>
                                        <span>{{childMenu.name}}</span>
                                    </md-list-item>

                                    <md-list-item v-else-if="childMenu.type.toLowerCase() === 'divider'" class="divider">
                                        <span>{{childMenu.name}}</span>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-list-expand>
                    </md-list-item>

                    <md-list-item :href="menu.route" v-else-if="menu.type.toLowerCase() === 'link'" @click="$refs['plataformaSidenav'].close()">
                        <md-icon :class="{'icon-favorite': menu.icon === 'favorite'}">{{ menu.icon }}</md-icon>
                        <span>{{menu.name}}</span>
                    </md-list-item>

                    <md-list-item v-else-if="menu.type.toLowerCase() === 'action'" @click="actionClick(menu)">
                        <span>{{menu.name}}</span>
                    </md-list-item>

                    <md-list-item v-else-if="menu.type.toLowerCase() === 'divider'" class="divider">
                        <span>{{menu.name}}</span>
                    </md-list-item>
                </div>
            </md-list>
        </md-sidenav>
    </div>
</template>

<script>
import ContabilizeiLogo from '../../atoms/ContabilizeiLogo/ContabilizeiLogo.vue'

export default {
    name: 'cc-sidenav',

    components: {
        ContabilizeiLogo
    },

    props: {
        // logo claro ou escuro
        darkLogo: {
            type: Boolean,
            default: false
        },

        // tamanho da toolbar dentro do menu lateral
        largeToolbar: {
            type: Boolean,
            default: false
        },

        // bordas entre os itens
        bordered: {
            type: Boolean,
            default: true
        },

        // fecha o menu quando o mouse sai do menu
        closeOnMouseLeave: {
            type: Boolean,
            default: false
        },

        /* TEMPORARIO: enquanto nao é definido como abrir modal */
        actionMethod: {
            type: Function,
            default: () => {}
        },

        // itens dentro do menu
        items: {
            type: Array,
            default: () => { return [] }
        }
    },

    mounted() {
        // remove :hover em elementos do tipo divider
        const dividers = document.querySelectorAll('.md-list-item .divider > .md-list-item-container')
        dividers.forEach(divider => {
            divider.style.backgroundColor = 'transparent'
        })

        if (this.closeOnMouseLeave) {
            const divSidenav = document.querySelector('.cntblz-sidenav .md-sidenav-content')
            divSidenav.addEventListener('mouseleave', this.onMouseLeave)
        }
    },

    methods: {
        /**
         * Abre se estiver fechado, fecha se estiver aberto.
         */
        toggle() {
            this.$refs.plataformaSidenav.toggle()
        },

        /**
         * Fecha o menu lateral
         */
        close() {
            this.$refs.plataformaSidenav.close()
        },

        /**
         * Abre o menu lateral
         */
        open() {
            this.$refs.plataformaSidenav.open()
        },

        /**
         * Executa uma funcao callback passando um array com os nomes de cada metodo como parametro.
         * Os métodos vêm do modulo contabilizei-auth-client, utilizado para unificar os menus laterais da plataforma
         * @param {Object} menuItem - Objeto que contem o tipo do item do menu, sua rota, nome, icone, etc.
         */
        actionClick(menuItem) {
            this.toggle()

            if (this.actionMethod && typeof this.actionMethod === 'function') {
                let methods = menuItem.route.split(';')
                this.actionMethod(methods)
            }
        },

        /**
         * Fecha o menu quando o mouse nao esta na area do mesmo.
         */
        onMouseLeave() {
            this.close()
        }
    }
}
</script>

<style>
    .cntblz-sidenav .md-list-item .md-list-item-container {
        margin: 0px;
        padding: 0px 8px;
        font-size: 14px;
    }

    .cntblz-sidenav .md-sidenav .md-sidenav-content {
        width: 258px;
    }

    .cntblz-sidenav .md-list-item .md-list-item-container {
        min-height: 52px;
    }

    .cntblz-sidenav .md-list-item-expand {
        min-height: 52px;
    }

    .cntblz-sidenav .md-list-item .md-list-item-container > .md-icon:first-child {
        margin-right: 20px;
    }

    .cntblz-sidenav li.divider > .md-list-item-container {
        font-weight: bolder;
        color: rgba(0, 0, 0, .57);
        min-height: 32px;
        font-size: 11px !important;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
</style>

<style scoped>
    .cntblz-sidenav .md-toolbar,
    .cntblz-sidenav .md-toolbar .md-toolbar-container {
        min-height: 52px;
        height: 52px;
    }

    .cntblz-sidenav .md-list-item .md-list-item-container > .md-icon:first-child {
        margin-right: 16px;
    }

    .bordered {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.1);
    }

    .item:first-child {
        border-top-width: 0px;
        margin: 0;
        border-top-color: transparent;
    }

    .click {
        cursor: pointer;
    }

    .divider {
        height: 32px;
        margin-left: 16px;
    }

    .icon-favorite {
        color: #ec407a;
    }
</style>
