<template>
    <page-content page-title="Componentes - Input Money">
        <docs-component>
            <div slot="description">
                <p>Componente input com máscara de moeda. Por padrão, o componente inicia com a máscara R$ 0,00.</p>
                <p>O valor passado como v-model deve ser
                    <code>float</code>.</p>
            </div>

            <!-- API -->
            <div slot="api">
                <api-table name="cc-input-money">
                    <md-table slot="propriedades">
                        <md-table-header>
                            <md-table-row>
                                <md-table-head>Nome</md-table-head>
                                <md-table-head>Tipo</md-table-head>
                                <md-table-head>Descrição</md-table-head>
                            </md-table-row>
                        </md-table-header>

                        <md-table-body>
                            <md-table-row>
                                <md-table-cell>v-model</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Objeto modelo obrigatório para vincular o valor (two-way).</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>label</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Indicador do valor esperado de um campo de entrada. 
                                    <br>Default <code>''</code>.
                                </md-table-cell>
                            </md-table-row>

                            <!-- <md-table-row>
                                <md-table-cell>readonly</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Define o componente para modo leitura. <br>Default
                                    <code>false</code>.</md-table-cell>
                            </md-table-row> -->

                            <md-table-row>
                                <md-table-cell>moneyOptions</md-table-cell>
                                <md-table-cell>
                                    <code>Object</code>
                                </md-table-cell>
                                <md-table-cell>Objeto de configuração da máscara de moeda.</md-table-cell>
                            </md-table-row>
                        </md-table-body>
                    </md-table>

                    <md-table slot="metodos">
                        <md-table-header>
                            <md-table-row>
                                <md-table-head>Name</md-table-head>
                                <md-table-head>Description</md-table-head>
                            </md-table-row>
                        </md-table-header>

                        <md-table-body>
                            <md-table-row>
                                <md-table-cell>md-avatar-icon</md-table-cell>
                                <md-table-cell>Display an icon using md-icon component</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>md-large</md-table-cell>
                                <md-table-cell>Display large avatar</md-table-cell>
                            </md-table-row>
                        </md-table-body>
                    </md-table>
                </api-table>

                <api-table name="Objeto de configuração moneyOptions">
                    <p>Mais detalhes em <a href="https://github.com/plentz/jquery-maskmoney">https://github.com/plentz/jquery-maskmoney</a></p>
                    <md-table slot="propriedades">
                        <md-table-header>
                            <md-table-row>
                                <md-table-head>Nome</md-table-head>
                                <md-table-head>Tipo</md-table-head>
                                <md-table-head>Descrição</md-table-head>
                            </md-table-row>
                        </md-table-header>

                        <md-table-body>
                            <md-table-row>
                                <md-table-cell>prefix</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Prefixo a ser exibido na máscara. <br>Default
                                    <code>'R$ '</code>.</md-table-cell>
                            </md-table-row>

                            <!-- <md-table-row>
                                <md-table-cell>suffix</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Sufixo a ser exibido na máscara.</md-table-cell>
                            </md-table-row> -->

                            <!-- <md-table-row>
                                <md-table-cell>affixesStay</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Define se o prefixo e sufixo permanecem na máscara após o campo perder o foco. <br>Default
                                    <code>true</code>
                                </md-table-cell>
                            </md-table-row> -->

                            <md-table-row>
                                <md-table-cell>thousands</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Separador de milhar. <br>Default
                                    <code>'.'</code>.</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>decimal</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Separador de decimal. <br>Default
                                    <code>','</code>.</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>precision</md-table-cell>
                                <md-table-cell>
                                    <code>Number</code>
                                </md-table-cell>
                                <md-table-cell>Número de casas decimais permitidas. <br>Default
                                    <code>2</code>.</md-table-cell>
                            </md-table-row>

                            <!-- <md-table-row>
                                <md-table-cell>allowZero</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Evita que o usuário informe valor zero. Default <code>false</code>.</md-table-cell>
                            </md-table-row> -->

                            <md-table-row>
                                <md-table-cell>allowNegative</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Evita que o usuário informe valores negativos. <br>Default
                                    <code>false</code>.</md-table-cell>
                            </md-table-row>

                            <!-- <md-table-row>
                                <md-table-cell>formatOnBlur</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Formata o campo quando o mesmo perde o foco.</md-table-cell>
                            </md-table-row> -->

                            <!-- <md-table-row>
                                <md-table-cell>reverse</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Por padrão, o componente define a digitação de valores da direita para a esquerda. Esta propriedade define a digitação da esquerda para a direita. Default
                                    <code>false</code>.</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>selectAllOnFocus</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Seleciona todo o texto do input quando o mesmo recebe o foco. Default
                                    <code>false</code>.</md-table-cell>
                            </md-table-row> -->

                            <!-- <md-table-row>
                                <md-table-cell>allowEmpty</md-table-cell>
                                <md-table-cell>
                                    <code>Boolean</code>
                                </md-table-cell>
                                <md-table-cell>Por padrão, a máscara fica com o valor R$ 0,00 quando o valor do input for removido. Esta proppriedade permite que o input fique vazio ao invés de R$ 0,00. <br>Default
                                    <code>false</code>.</md-table-cell>
                            </md-table-row> -->
                        </md-table-body>
                    </md-table>
                </api-table>
            </div>

            <!-- Exemplos -->
            <div slot="example">
                <example-box card-title="Input Money padrão">
                    <div slot="demo">
                        <span>Model: {{ defaultValue }}</span>
                        <cc-input-money v-model="defaultValue"></cc-input-money>
                    </div>

                    <div slot="demo">
                        <cc-input-money disabled label="Valor do produto" v-model="disabledValue"></cc-input-money>
                    </div>

                    <div slot="code">
                        <code-block lang="xml">
                            &lt;cc-input-money v-model=&quot;defaultValue&quot;&gt;&lt;/cc-input-money&gt;

                            &lt;cc-input-money disabled label=&quot;Valor do produto&quot; v-model=&quot;disabledValue&quot;&gt;&lt;/cc-input-money&gt;
                        </code-block>

                        <code-block lang="javascript">
                            export default { 
                                data() { 
                                    return { 
                                        defaultValue: 0.00,
                                        disabledValue: 15.99 
                                    }
                                }
                            }
                        </code-block>
                    </div>
                </example-box>

                <example-box card-title="Input Money customizado">
                    <div slot="demo">
                        <span>Model: {{ customValue1 }}</span>
                        <cc-input-money v-model="customValue1" :moneyOptions="customOptions1"></cc-input-money>
                    </div>

                    <div slot="demo">
                        <span>Model: {{ customValue2 }}</span>
                        <cc-input-money v-model="customValue2" :moneyOptions="customOptions2"></cc-input-money>
                    </div>

                    <div slot="code">
                        <code-block lang="xml">
                            &lt;cc-input-money v-model=&quot;customValue1&quot; :moneyOptions=&quot;customOptions1&quot;&gt;&lt;/cc-input-money&gt;

                            &lt;cc-input-money v-model=&quot;customValue2&quot; :moneyOptions=&quot;customOptions2&quot;&gt;&lt;/cc-input-money&gt;
                        </code-block>

                        <code-block lang="javascript">
                            export default { 
                                data() { 
                                    return { 
                                        customValue1: 10015.53,
                                        customOptions1: {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '',
                                            decimal: '.',
                                            precision: 2
                                        },
                                        customValue2: 0.991,
                                        customOptions2: {
                                            prefix: '$',
                                            allowNegative: false,
                                            thousands: '',
                                            decimal: ',',
                                            precision: 3
                                        }
                                    }
                                }
                            }
                        </code-block>
                    </div>
                </example-box>
            </div>
        </docs-component>
    </page-content>
</template>

<style lang="scss" scoped>
.md-avatar+.md-avatar {
    margin-left: 8px;
}
</style>

<script>

export default {
    data() {
        return {
            defaultValue: 0.00,
            disabledValue: 15.99,
            customValue1: 10015.53,
            customOptions1: {
                prefix: '',
                allowNegative: false,
                thousands: '',
                decimal: '.',
                precision: 2
            },
            customValue2: 0.991,
            customOptions2: {
                prefix: '',
                allowNegative: false,
                thousands: '',
                decimal: ',',
                precision: 3
            }
        }
    }
}
</script>
