<template>
    <div>
        <cc-menu-lateral ref="menuLateral" :itens="menu"></cc-menu-lateral>
        <cc-search :actionMethod="teste" hint="ahiahiasuhiuashdiuhaudhiuashdiuh">
            <div slot="extra" style="width: 270px">
                <cc-select-mes-ano v-model="selectMesAno" titleMes="Mês de emissão" titleAno="Ano de emissão" :anos="[2012, 2013, 2014, 2015, 2016, 2017]"></cc-select-mes-ano>
            </div>
        </cc-search>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menu: [],
            selectMesAno: { mes: new Date().getMonth(), ano: new Date().getFullYear() }
        }
    },

    mounted() {
        this.menu = [{ 'name': 'Dashboard', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#', 'icon': 'dashboard' }, { 'name': 'Notas Fiscais', 'type': 'GROUP', 'children': [{ 'name': 'Importar', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/importarnota' }, { 'name': 'Consultar', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/consultarnotas' }, { 'name': 'Cancelamento / Substituição', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/informarCancelamento' }, { 'name': 'Notas Fiscais de Entrada', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/notas-entrada-dashboard' }, { 'name': 'Notas Fiscais Tomadas', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/nfstomadas' }, { 'name': 'Minhas alíquotas', 'type': 'ACTION', 'route': 'abrirModalAliquota(); fechaMenu();' }, { 'name': 'EMISSÃO DE NOTAS FISCAIS', 'type': 'DIVIDER' }, { 'name': 'Visão Geral NF-e', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/emissor-dashboard' }, { 'name': 'Consultar NF-e', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/emitir-list' }, { 'name': 'Emitir NF-e', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/emissor-dashboard' }, { 'name': 'CONFIGURAÇÕES DO EMISSOR', 'type': 'DIVIDER' }, { 'name': 'Cadastro de Clientes', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/list-cliente' }, { 'name': 'Cadastro de Produtos', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/list-produto' }, { 'name': 'Cadastro de Transportadoras', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/list-transportadora' }, { 'name': 'Configurações da Conta', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/emissao-onboarding' }], 'icon': 'list' }, { 'name': 'Impostos', 'type': 'GROUP', 'children': [{ 'name': 'Impostos a pagar', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/impostoapagar' }], 'icon': 'account_balance' }, { 'name': 'Movimentações', 'type': 'GROUP', 'children': [{ 'name': 'Conciliar Extrato Bancário', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/conciliacao-extrato' }, { 'name': 'Lançamentos Caixa', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/caixa' }, { 'name': 'Conta Bancária', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/contabancaria' }], 'icon': 'compare_arrows' }, { 'name': 'Relatórios', 'type': 'GROUP', 'children': [{ 'name': 'Diário', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/relatorio-contabil/DIARIO' }, { 'name': 'Razão', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/relatorio-contabil/RAZAO' }, { 'name': 'Balancete', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/relatorio-contabil/BALANCETE' }, { 'name': 'Balanço Patrimonial', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/relatorio-contabil/BALANCO' }, { 'name': 'DRE', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/relatorio-contabil/DRE' }], 'icon': 'event' }, { 'name': 'Declarações', 'type': 'GROUP', 'children': [{ 'name': 'Mensais', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/declaracoes-mensais' }, { 'name': 'Anuais', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/declaracoes-anuais' }, { 'name': 'Comprovante de rendimentos', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/comprovante-rendimentos' }], 'icon': 'description' }, { 'name': 'Folha de pagamento', 'type': 'GROUP', 'children': [{ 'name': 'Colaboradores', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/colaboradores' }, { 'name': 'Folha mensal', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/folha' }], 'icon': 'supervisor_account' }, { 'name': 'Pró-labore', 'type': 'GROUP', 'children': [{ 'name': 'Cadastrar pró-labore', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/socio' }, { 'name': 'Recibo', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/prolabore' }, { 'name': 'Ficha financeira', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/ficha-financeira' }], 'icon': 'attach_money' }, { 'name': 'Pagamentos', 'type': 'GROUP', 'children': [{ 'name': 'Pendentes', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/pagto-pendente' }, { 'name': 'Histórico', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/pagto-historico' }, { 'name': 'Formas de pagamento', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/pagto-formas' }], 'icon': 'credit_card' }, { 'name': 'Serviços avulsos', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/servicos-disponiveis', 'icon': 'extension' }, { 'name': 'Minhas indicações', 'type': 'LINK', 'route': 'http://localhost:7000/sistema/#/minhas-indicacoes', 'icon': 'favorite' }]
        // this.$refs.menuLateral.toggle()
    },

    methods: {
        teste() {
            console.log('auhauhau')
        }
    }
}
</script>
