<template>
    <page-content page-title="Componentes - Select Mes Ano">
        <docs-component>
            <div slot="description">
                <p>Componente com dois selects, sendo um para mês e outro para ano.
                </p>
            </div>

            <div slot="api">
                <api-table name="cc-select-mes-ano">
                    <md-table slot="propriedades">
                        <md-table-header>
                            <md-table-row>
                                <md-table-head>Nome</md-table-head>
                                <md-table-head>Tipo</md-table-head>
                                <md-table-head>Descrição</md-table-head>
                            </md-table-row>
                        </md-table-header>

                        <md-table-body>
                            <md-table-row>
                                <md-table-cell>v-model</md-table-cell>
                                <md-table-cell>
                                    <code>Object</code>
                                </md-table-cell>
                                <md-table-cell>Objeto modelo obrigatório para vincular o valor (two-way). O objeto modelo deve conter, <b>obrigatoriamente</b>, duas propriedades: mes e ano
                                <br> Exemplo: <code>{ mes: 1, ano: 2015 }</code>
                                </md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>labelMes</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Label indicadora do Select referente ao mês.
                                    <br>Default <code>'Mês'</code>.</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>labelAno</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Label indicadora do Select referente ao mês.
                                    <br>Default <code>'Ano'</code>.</md-table-cell>
                                </md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>meses</md-table-cell>
                                <md-table-cell>
                                    <code>Array</code>
                                </md-table-cell>
                                <md-table-cell>Itens referentes ao Select de meses.
                                    <br>Default <code>['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']</code>.</md-table-cell>
                                </md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>anos</md-table-cell>
                                <md-table-cell>
                                    <code>Array</code>
                                </md-table-cell>
                                <md-table-cell>Itens referentes ao Select de anos. Por padrão, retorna o ano atual e os últimos 4 anos.
                                    <br>Default <code>[{{ getYears().toString() }}]</code>.</md-table-cell>
                                </md-table-cell>
                            </md-table-row>
                        </md-table-body>
                    </md-table>
                </api-table>
            </div>

            <div slot="example">
                <example-box card-title="Select Mes Ano padrão">
                    <div slot="demo">
                        <span>Mês selecionado: {{ modelSelectMesAno.mesNome }} | Ano selecionado: {{ modelSelectMesAno.ano }}</span>
                        <cc-select-mes-ano v-model="modelSelectMesAno"></cc-select-mes-ano>
                    </div>

                    <div slot="code">
                        <code-block lang="xml" v-pre>
                            &lt;span&gt;M&ecirc;s selecionado: {{ modelSelectMesAno.mesNome }} | Ano selecionado: {{ modelSelectMesAno.ano }} &lt;/span&gt;
                            &lt;cc-select-mes-ano v-model=&quot;modelSelectMesAno&quot;&gt;&lt;/cc-select-mes-ano&gt;
                        </code-block>

                        <code-block lang="javascript">
                            export default {
                                data() {
                                    return {
                                        modelSelectMesAno: { mes: new Date().getMonth(), ano: new Date().getFullYear() },

                                    }
                                }
                            }
                        </code-block>
                    </div>
                </example-box>

                <example-box card-title="Select Mes Ano customizado">
                    <div slot="demo">
                        <span>Mês selecionado: {{ modelCustomSelectMesAno.mesNome }} | Ano selecionado: {{ modelCustomSelectMesAno.ano }}</span>
                        <cc-select-mes-ano v-model="modelCustomSelectMesAno" :meses="getCustomMonths()" :anos="getCustomYears()"></cc-select-mes-ano>
                    </div>

                    <div slot="code">
                        <code-block lang="xml" v-pre>
                            &lt;span&gt;M&ecirc;s selecionado: {{ modelCustomSelectMesAno.mesNome }} | Ano selecionado: {{ modelCustomSelectMesAno.ano }} &lt;/span&gt;
                            &lt;cc-select-mes-ano v-model=&quot;modelCustomSelectMesAno&quot;&gt;&lt;/cc-select-mes-ano&gt;
                        </code-block>

                        <code-block lang="javascript">
                            export default {
                                data() {
                                    return {
                                        modelSelectMesAno: { mes: new Date().getMonth(), ano: new Date().getFullYear() },
                                        modelCustomSelectMesAno: { mes: new Date().getMonth(), ano: new Date().getFullYear() }
                                    }
                                }
                            }
                        </code-block>
                    </div>
                </example-box>
            </div>
        </docs-component>
    </page-content>
</template>

<script>
export default {
    data() {
        return {
            modelSelectMesAno: { mes: new Date().getMonth(), ano: new Date().getFullYear() },
            modelCustomSelectMesAno: { mes: 1, ano: new Date().getFullYear() },
            anos: [2010, 2011, 2012, 2013, 2014],
            modelFilmes: 2,
            filmes: ['Clube da Luta', 'O Poderoso Chefão', 'Star Wars', 'Scarface', 'Jogos Mortais'],
            modelPaises: 3,
            paises: ['Brasil', 'Argentina', 'Chile', 'Uruguai', 'Paraguai', 'Colômbia']
        }
    },
    methods: {
        getYears() {
            let arr = []
            const currentYear = new Date().getFullYear()

            // adiciona 4 anos antes e o ano atual
            for (let i = 4; i >= 0; i--) {
                arr.push(currentYear - i)
            }

            return arr
        },

        getCustomMonths() {
            return ['Setembro', 'Outubro', 'Novembro', 'Dezembro']
        },

        getCustomYears() {
            return [2015, 2016, 2017, 2018]
        }
    }
}
</script>
