<template>
    <page-content page-title="Componentes - Select">
        <docs-component>
            <div slot="description">
                <p>Encapsula em uma única tag os diferentes elementos utilizados para a criação do <a target="_blank" href="http://vuematerial.io/#/components/select">Select do Vue Material</a>.
                </p>
            </div>

            <div slot="api">
                <api-table name="cc-select">
                    <md-table slot="propriedades">
                        <md-table-header>
                            <md-table-row>
                                <md-table-head>Nome</md-table-head>
                                <md-table-head>Tipo</md-table-head>
                                <md-table-head>Descrição</md-table-head>
                            </md-table-row>
                        </md-table-header>

                        <md-table-body>
                            <md-table-row>
                                <md-table-cell>v-model</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Objeto modelo obrigatório para vincular o valor (two-way).</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>label</md-table-cell>
                                <md-table-cell>
                                    <code>String</code>
                                </md-table-cell>
                                <md-table-cell>Indicador do valor esperado de um campo de entrada. Default
                                    <code>''</code>.</md-table-cell>
                            </md-table-row>

                            <md-table-row>
                                <md-table-cell>items</md-table-cell>
                                <md-table-cell>
                                    <code>Array</code>
                                </md-table-cell>
                                <md-table-cell>Array de itens com o conteúdo do componente. <br>Default:
                                    <code>[]</code>.
                                </md-table-cell>
                            </md-table-row>
                        </md-table-body>
                    </md-table>
                </api-table>
            </div>

            <div slot="example">
                <example-box card-title="Select padrão">
                    <div slot="demo">
                        <span>Model (index): {{ modelAnos.index }} | Model (item): {{ modelAnos.item }}</span>
                        <cc-select v-model="modelAnos" :itens="anos"></cc-select>
                    </div>

                    <div slot="demo">
                        <span>Model (index): {{ modelFilmes.index }} | Model (item): {{ modelFilmes.item }}</span>
                        <cc-select v-model="modelFilmes" :itens="filmes"></cc-select>
                    </div>

                    <div slot="demo">
                        <span>Model (index): {{ modelPaises.index }} | Model (item): {{ modelPaises.item }}</span>
                        <cc-select v-model="modelPaises" :itens="paises"></cc-select>
                    </div>

                    <div slot="code">
                        <code-block lang="xml">
                            &lt;cc-select v-model=&quot;modelAnos&quot; :itens=&quot;anos&quot;&gt;&lt;/cc-select&gt;
                            
                            &lt;cc-select v-model=&quot;modelFilmes&quot; :itens=&quot;filmes&quot;&gt;&lt;/cc-select&gt;
                            
                            &lt;cc-select v-model=&quot;modelPaises&quot; :itens=&quot;paises&quot;&gt;&lt;/cc-select&gt;
                        </code-block>

                        <code-block lang="javascript">
                            export default {
                                data() {
                                    return {
                                        modelAnos: 1,
                                        anos: [2010, 2011, 2012, 2013, 2014],
                                        modelFilmes: 2,
                                        filmes: ['Clube da Luta', 'O Poderoso Chefão', 'Star Wars', 'Scarface', 'Jogos Mortais'],
                                        modelPaises: 3,
                                        paises: ['Brasil', 'Argentina', 'Chile', 'Uruguai', 'Paraguai', 'Colômbia']
                                    }
                                }
                            }
                        </code-block>
                    </div>
                </example-box>
            </div>
        </docs-component>
    </page-content>
</template>

<script>
export default {
    data() {
        return {
            modelAnos: 1,
            anos: [2010, 2011, 2012, 2013, 2014],
            modelFilmes: 2,
            filmes: ['Clube da Luta', 'O Poderoso Chefão', 'Star Wars', 'Scarface', 'Jogos Mortais'],
            modelPaises: 3,
            paises: ['Brasil', 'Argentina', 'Chile', 'Uruguai', 'Paraguai', 'Colômbia']
        }
    }
}
</script>
