<template>
    <div>
        <dropzone class="custom-dropzone-cfvc" ref="dropContabilizei" :class="numMaximoArquivos == 1 ? 'oneFile' : ''"
            id="contabilizeiUpload"
            :use-custom-dropzone-options="true"
            :acceptedFileTypes="formatosArquivo"
            :language="languageOptions"
            :maxNumberOfFiles="numMaximoArquivos"
            :add-remove-links="true"
            :autoProcessQueue="true"
            :headers="headersUrl"
            :autoQueue="true"
            :preview-template="template"
            :url="url">
            <input type="hidden" name="token" value="xxx">
        </dropzone>
        <div class="container-acoes">
            <span style="flex: 1"></span>
            <md-button class="md-primary" v-if="exibirRemoverTodos" @click="removerArquivos">Remover Todos</md-button>
        </div>
    </div>
</template>

<script>

import Dropzone from 'vue2-dropzone'

export default {
    name: 'cc-multi-upload',
    components: {
        Dropzone
    },
    props: {
        fraseSuperior: {
            type: String,
            default: 'Clique aqui ou arraste o seu arquivo'
        },
        fraseInferior: {
            type: String,
            default: 'Apenas imagens são aceitas'
        },
        icone: {
            type: String,
            default: 'file_upload'
        },
        url: {
            type: String
        },
        formatosArquivo: {
            type: String
        },
        numMaximoArquivos: {
            type: Number
        },
        headersUrl: {
            type: Object
        }
    },
    data () {
        return {
            languageOptions: {
                dictDefaultMessage: '<h2>' + this.fraseSuperior + '</h2>' + '<div class="material-icons icone">' + this.icone + '</div>' + '<h4>' + this.fraseInferior + '</h4>',
                dictFileTooBig: 'Arquivo é grande demais ({{filesize}}MB). Tamanho máximo: {{maxFilesize}}MiB.',
                dictInvalidFileType: 'Formato de arquivo inválido.',
                dictCancelUpload: 'Cancelar Upload',
                dictCancelUploadConfirmation: 'Você tem certeza que quer cancelar este upload?',
                dictRemoveFile: 'Remover',
                dictMaxFilesExceeded: 'Número de arquivos foi excedido.',
                dictFallbackMessage: 'Seu navegador não suporta "arrastar e jogar" arquivos para fazer upload.'
            },
            exibirRemoverTodos: false
        }
    },
    mounted () {
        var self = this
        self.$refs.dropContabilizei.dropzone.on('addedfile', function (file) {
            if (self.$refs.dropContabilizei.dropzone.files.length) {
                self.exibirRemoverTodos = true
            } else {
                self.exibirRemoverTodos = false
            }
        })

        self.$refs.dropContabilizei.dropzone.on('removedfile', function (file) {
            if (self.$refs.dropContabilizei.dropzone.files.length) {
                self.exibirRemoverTodos = true
            } else {
                self.exibirRemoverTodos = false
            }
        })
    },
    methods: {
        template: () => {
            return '<div class="dz-preview dz-file-preview">' +
                        '<div class="dz-image" style="width: 200px;height: 200px">' +
                            '<img data-dz-thumbnail /></div>' +
                            '<div class="dz-error-mark"><i class="material-icons error-icone">error_outline</i></div>' +
                        '<div class="dz-details">' +
                            '<div class="dz-filename"><span data-dz-name></span></div>' +
                            '<div class="dz-size"><span data-dz-size></span></div>' +
                            '<div dz-error-mark><span data-dz-errormessage></span></div>' +
                        '</div>' +
                        '<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>' +
                        '<div class="dz-success-mark"><i class="material-icons center-text">check_circle</i></div>' +
                    '</div>'
        },
        removerArquivos: function() {
            this.$refs.dropContabilizei.removeAllFiles()
            this.exibirRemoverTodos = false
        }
    }
}
</script>

<style scoped>
    .container-acoes {
        display: flex;
    }

    .oneFile {
        display: flex;
        justify-content: center;
    }
</style>

<style>
    .container-info {
        pointer-events: none;
    }

    .fraseSuperior {
        text-align: center;
    }

    .custom-dropzone-cfvc .dz-default.dz-message .material-icons {
        display: none;
    }

    .custom-dropzone-cfvc .dz-default.dz-message .material-icons.icone {
        display: block !important;
        font-size: 140px;
    }

    .center-text {
        text-align: center;
    }

    .custom-dropzone-cfvc .dz-success-mark, .custom-dropzone-cfvc .dz-error-mark {
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .custom-dropzone-cfvc .dz-error-mark i{
        margin-top: -85px;
        color: red !important;
        background: #fff;
        border-radius: 50%;
        padding: 0px;
        margin-right: -15px;
    }

    .vue-dropzone .dz-preview .dz-error-mark i {
        color: red !important;
        font-size: 32px !important;
        position: absolute;
        top: 0;
        right: 0px;
    }

    .dropzone .dz-preview .dz-error-message:after {
    content: "";
    position: absolute;
    top: 60px;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 13px solid #b3b3b3;
}

.vue-dropzone .dz-preview .dz-error-message {
    top: -20%;
    left: 50%;
    background: #b3b3b3 !important;
    box-shadow: 0px 0px 3px #828282;
}

.vue-dropzone .dz-preview .dz-success-mark i {
    color: #07ad15!important;
    font-size: 4rem!important;
    background: #fff;
    color: #008c00 !important;
    border-radius: 50%;
}

.vue-dropzone .dz-preview .dz-progress .dz-upload {
    background: #2196f3;
}
</style>
