<template>
    <div class="div-layout">
        <p v-if="titleGroup"><b>{{titleGroup}}</b></p>
        <md-layout>
            <md-layout :md-flex="flexSize"  v-for="(option, index) in listOptions" :key="index">
                <md-checkbox v-model="option.isChecked" @input="onChange">{{option.description}}</md-checkbox>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    export default {
        name: 'cc-checkbox',
        props: {
            onSelected: {
                Type: Function
            },
            name: {
                Type: String
            },
            titleGroup: {
                Type: String
            },
            listOptions: {
                Type: [Array, Object],
                required: true
            },
            flexSize: {
                Type: String,
                default: '100'
            }
        },
        methods: {
            onChange: function() {
                if (this.onSelected && typeof this.onSelected === 'function') {
                    if (this.name) {
                        this.onSelected(this.name, this.listOptions)
                    } else {
                        this.onSelected(this.listOptions)
                    }
                }
            }
        }
    }
</script>

<style>
    .div-layout {
        width: 100%;
    }
</style>
