<template>
<md-layout>
        <md-card class="flex card-socios" :style="getStyleCard()">
            <md-card-header class="header-socios">
                <md-card-header-text>
                    <md-icon v-if="icon" class="title-icon icon-header">{{ icon }}</md-icon>
                    <span class="title-text text-header">{{ title }}</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-content>
                
                <md-layout class="container-fields">
                    <md-layout>
                        <md-button @click="changeTipoSocio(false)" :class="{'md-primary': !pessoaJuridica}">Pessoa Física</md-button>
                        <md-switch v-model="pessoaJuridica" class="md-primary"></md-switch>
                        <md-button @click="changeTipoSocio(true)" :class="{'md-primary': pessoaJuridica}">Pessoa Jurídica</md-button>
                    </md-layout>
                    
                    <md-layout md-flex="100">
                        <cc-cpf
                            v-show="!pessoaJuridica"
                            v-model="cpf"
                            nameInput="cpf"
                            :inputChange="getValue"
                            :required="true"
                        ></cc-cpf>
                    </md-layout>

                    <md-layout md-flex="100">
                        <cc-cnpj
                            v-show="pessoaJuridica"
                            v-model="cnpj"
                            nameInput="cnpj"
                            :inputChange="getValue"
                            :required="true"
                        ></cc-cnpj>
                    </md-layout>

                    <md-layout md-flex="100">
                            <cc-campo
                                :label="pessoaJuridica ? 'Razão Social' : 'Nome'"
                                :placeholder="pessoaJuridica ? 'Razão Social' : 'Nome'"
                                :required="true"
                                :upperCase="true"
                                v-model="nome"
                                :inputChange="getValue"
                                nameInput="nome">
                            </cc-campo>
                    </md-layout>
                    
                    <md-layout md-flex="45" v-show="!pessoaJuridica">
                            <cc-data 
                                label="Data de Nascimento"
                                placeholder="Data de Nascimento"
                                v-model="dataNascimento" 
                                nameInput="dataNascimento" 
                                :inputChange="getValue"
                                :required="true"
                            ></cc-data>
                    </md-layout>

                    <md-layout :md-flex="pessoaJuridica ? 100 : 45">
                            <cc-campo-decimal
                                label="Cota"
                                placeholder="Cota"
                                v-model="cota" 
                                nameInput="cota" 
                                :inputChange="getValue"
                                :required="true"
                            ></cc-campo-decimal>
                    </md-layout>

                            <md-layout md-flex="100">
                                <cc-checkbox
                                    name="dadosSocio"
                                    :listOptions="checkboxes"
                                    flexSize="45"
                                    :onSelected="onChangeCheck"
                                >
                                </cc-checkbox>
                            </md-layout>
                </md-layout>
            </md-card-content>
        </md-card>
    </md-layout>
</template>

    <script>
    import CcCampo from '../../atoms/ContabilizeiCampo/ContabilizeiCampo'
    import CcCheckbox from '../../atoms/ContabilizeiCheckbox/ContabilizeiCheckbox'
    import CcCpf from '../../atoms/ContabilizeiCpf/ContabilizeiCpf'
    import CcCnpj from '../../atoms/ContabilizeiCnpj/ContabilizeiCnpj'
    import CcData from '../../atoms/ContabilizeiData/ContabilizeiData'
    import CcCampoDecimal from '../../atoms/ContabilizeiCampoDecimal/ContabilizeiCampoDecimal'

    export default {
        name: 'cc-socio',
        data() {
            return {
                pessoaJuridica: true,
                cpf: '',
                cnpj: '',
                nome: '',
                dataNascimento: '',
                cota: '',
                isSocio: false,
                isResponsavel: false,
                model: '',
                checkboxes: [
                    {
                        isChecked: false,
                        id: 'socio',
                        description: 'Sócio Administrador?'
                    },
                    {
                        isChecked: false,
                        id: 'responsavel',
                        description: 'Responsável perante a Receita Federal?'
                    }
                ]
            }
        },
        components: {
            CcCampo,
            CcCheckbox,
            CcCpf,
            CcCnpj,
            CcData,
            CcCampoDecimal
        },
        props: {
            value: { required: true },
            title: {
                Type: String
            },
            index: {
                Type: String,
                default: 0
            },
            icon: {
                Type: String,
                default: 'person'
            }
        },
        mounted () {
            this.model = this.value
        },
        methods: {
            onChangeCheck: function(name, value) {
                for (var i = 0; i < value.length; i++) {
                    if (value[i].id === 'socio') {
                        this.isSocio = value[i].isChecked
                    } else if (value[i].id === 'responsavel') {
                        this.isResponsavel = value[i].isChecked
                    }
                }
                this.getValue()
            },
            getStyleCard() {
                return 'border-left: 5px solid #ccc'
            },
            changeTipoSocio(valor) {
                this.cpf = ''
                this.cnpj = ''
                this.pessoaJuridica = valor
            },
            getAllValues() {
                return this.model
            },
            getValue() {
                this.model.cpf = this.cpf
                this.model.cnpj = this.cnpj
                this.model.nome = this.nome
                this.model.dataNascimento = this.dataNascimento
                this.model.cota = this.cota
                this.model.isSocio = this.isSocio
                this.model.isResponsavel = this.isResponsavel
                this.$emit('input', this.model)
            }
        }
    }
</script>


<style>
.flex {
    flex: 1;
}

.divider {
    background: #efefef;
    height: 8px;
    border-radius: 5px;
    position: relative;
}

.pointer-type {
    transition: all 1s linear;
    right: 0px;
    left: 0px;
}

.pointer-type-pf {
    position: absolute;
    top: -10px !important;
    left: -8px !important;
    right: auto !important;
    min-width: 25px !important;
    min-height: 25px !important;
    width: 25px !important;
    height: 25px !important;
}

.pointer-type-pj {
    position: absolute;
    top: -10px !important;
    left: auto !important;
    right: -8px !important;
    min-width: 25px !important;
    min-height: 25px !important;
    width: 25px !important;
    height: 25px !important;
}

.card-socios {
    border-radius: 4px;
}

.header-socios {
    padding: 3px;
}

.icon-header {
    margin-top: -6px;
}

.text-header {
    padding: 8px;
    display: inline-block;
    margin-top: 0px !important;
}

.md-card .md-card-header {
    padding: 0px 0px 0px 16px;
}

.md-gutter:not(.md-column) > .md-layout {
    padding-right: 12px;
    padding-left: 12px;
}

/* vuetify legacy */
.input-group {
    margin: 14px 0px;
}

.input-group.options-conta {
    margin: 2px 0px;
}

.card--flat {
    border: 1px solid #e0e0e0;
}

.title-text {
    margin-top: 15px;
    margin-left: 0px;
    font-size: 16px
}

.icon-text {
    font-size: 20px;
}

.card--flat {
    margin-bottom: 24px;
}

.container-fields {
    justify-content: space-between;
}
</style>

