<template>
    <page-content page-title="Começando">
        <div class="main-content">
            <article>
                <h2 class="md-headline">Installation</h2>

                <section>
                    <h3 class="md-title">NPM</h3>
                    <p>Install Vue Material through npm or yarn <br>
                        <small>* Others package managers like JSPM and Bower are not supported yet.</small>
                    </p>
                    <code-block lang="bash">
                        $ npm install vue-material --save $ yarn add vue-material
                    </code-block>
                </section>

                <section>
                    <h3 class="md-title">Standalone</h3>
                    <p>Download from Github and reference the script and the stylesheet in your HTML:</p>
                    <md-button class="md-raised md-primary" href="https://github.com/marcosmoura/vue-material/archive/master.zip" target="_blank" rel="noopener">download</md-button>
                </section>

                <section>
                    <h3 class="md-title">CDN</h3>
                    <p>Include the Vue Material files from unpkg:</p>
                    <md-button class="md-raised md-primary" href="https://unpkg.com/vue-material" target="_blank" rel="noopener">Javascript</md-button>
                    <md-button class="md-raised md-primary" href="https://unpkg.com/vue-material/dist/vue-material.css" target="_blank" rel="noopener">CSS</md-button>
                </section>
            </article>

            <article>
                <h2 class="md-headline">Usage</h2>

                <section>
                    <h3 class="md-title">AMD Modules</h3>

                    <p>Import and use the whole library:</p>
                    <code-block lang="xml">
                        &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material.css&quot;&gt;
                    </code-block>

                    <code-block lang="javascript">
                        var Vue = require('vue') var VueMaterial = require('vue-material') Vue.use(VueMaterial)
                    </code-block>

                    <p>Or to import individual components:</p>
                    <code-block lang="xml">
                        &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material/dist/components/mdCore.css&quot;&gt; &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material/dist/components/mdButton.css&quot;&gt; &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material/dist/components/mdIcon.css&quot;&gt; &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material/dist/components/mdSidenav.css&quot;&gt; &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material/dist/components/mdToolbar.css&quot;&gt;
                    </code-block>

                    <code-block lang="javascript">
                        var Vue = require('vue') var VueMaterial = require('vue-material') Vue.use(VueMaterial.MdCore) //Required to boot vue material Vue.use(VueMaterial.MdButton) Vue.use(VueMaterial.MdIcon) Vue.use(VueMaterial.MdSidenav) Vue.use(VueMaterial.MdToolbar)
                    </code-block>

                    <p>
                        <strong>Note:</strong> If you are using Webpack you can still import the css files inside your modules. And you can also write everything using ES6 with Babel or Bublé.</p>

                    <section>
                        <h3 class="md-title">Importing CSS from package</h3>

                        <p>Using import/require</p>
                        <code-block lang="javascript">
                            import 'vue-material/dist/vue-material.css' // or require('vue-material/dist/vue-material.css')
                        </code-block>

                        <p>Using a .css file</p>
                        <code-block lang="xml">
                            &lt;style src=&quot;vue-material/dist/vue-material.css&quot;&gt;&lt;/style&gt;
                        </code-block>
                    </section>
                </section>

                <section>
                    <h3 class="md-title">Standalone</h3>

                    <code-block lang="xml">
                        &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/vue-material.css&quot;&gt; &lt;script src=&quot;path/to/vue-material.js&quot;&gt;&lt;/script&gt;
                    </code-block>

                    <code-block lang="javascript">
                        // The VueMaterial variable is global Vue.use(VueMaterial)
                    </code-block>
                </section>
            </article>
        </div>
    </page-content>
</template>

<style lang="scss" scoped>
.main-content {
    position: relative;
}

article {
    max-width: 960px;
}

section+section,
article+article {
    margin-top: 36px;
}

.code-block,
.md-tabs {
    max-width: 100%;
}

.md-tab {
    border-top: 1px solid rgba(#000, .12);
    padding: 0;
}

iframe {
    height: auto;
    min-height: 620px;
}
</style>
