<template>
    <div :class="{ 'cc-center': centralizado }">
        <a href="#/">
            <img class="cc-logo" src="../../../assets/img/logo-azul.png" alt="Contabilizei logo" v-if="dark">
            <img class="cc-logo" src="../../../assets/img/logo-branca.png" alt="Contabilizei logo" v-else>
        </a>
    </div>
</template>

<style scoped>
    .cc-logo {
        width: 120px;
    }

    .cc-center {
        margin: auto;
    }
</style>

<script>
    export default {
        name: 'cc-logo',

        props: {
            // logo escura
            dark: {
                type: Boolean,
                default: false
            },

            // centralizar logo
            centralizado: {
                type: Boolean,
                default: true
            }
        }
    }
</script>
