<template>
    <div>
        <h2 v-show="title">{{title}}</h2>
        <p v-show="description">{{description}}</p>
        <p class="tip-message" v-show="tipMessage">{{tipMessage}}</p>
    </div>
</template>

<script>
    export default {
        name: 'cc-title',
        props: {
            title: {
                Type: String
            },
            description: {
                Type: String
            },
            tipMessage: {
                Type: String
            }
        }
    }
</script>

<style>
    .tip-message {
        color: #ccc;
    }
</style>
