<template>
    <md-input-container :style="'width: ' + width" :class="{'md-input-invalid': veeErrors.has(nameInput)}">
        <label>{{label}}</label>
        <md-input v-model="model"
            :readOnly="readOnly"
            :required="required"
            :placeholder="placeholder"
            @change.native="onInput"
            v-validate="validate"
            v-mask="maskCpf"
            :data-vv-name="nameInput"
            ></md-input>
            <span class="md-error">{{ veeErrors.first(nameInput) }}</span>
  </md-input-container>
  
</template>

<script>
    export default {
        name: 'cc-cpf',
        props: {
            /* two-way data binding */
            value: { required: true },
            label: {
                type: String,
                default: 'CPF'
            },
            placeholder: {
                Type: String,
                default: 'CPF'
            },
            readOnly: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            width: {
                type: String,
                default: '100%'
            },
            inputChange: {
                Type: Function
            },
            nameInput: {
                type: String
            }
        },
        data () {
            return {
                model: '',
                cnpj: '',
                validate: '',
                cpfValido: true,
                maskCpf: '###.###.###-##'
            }
        },
        created () {
            if (this.required) {
                this.validate = 'required|cpf'
            } else {
                this.validate = 'cpf'
            }
        },
        mounted () {
            this.model = this.value
        },
        methods: {
            updateValue() {
                this.$emit('input', this.model)
            },
            onInput: function() {
                this.$emit('input', this.model)
                if (this.veeErrors.has(this.nameInput)) {
                    this.cpfValido = false
                } else {
                    this.cpfValido = true
                }

                if (this.inputChange && typeof this.inputChange === 'function') {
                    this.inputChange(this.nameInput, this.model, this.cpfValido)
                }
            }
        }
    }
</script>
