<template>
    <md-input-container>
        <label>{{ label }}</label>
        <md-select ref="select" v-model="model" @input="updateValue()">
            <md-option :value="index" v-for="(item, index) in itens" :key="index">{{ item }}</md-option>
        </md-select>
    </md-input-container>
</template>

<script>
export default {
    name: 'cc-select',

    props: {
        /* two-way data binding */
        value: { required: true },

        label: {
            type: String,
            default: ''
        },

        itens: {
            type: Array,
            default: () => { return [] }
        }
    },

    data() {
        return {
            model: this.value
        }
    },

    methods: {
        /**
         * Método de atualização do v-model. Responsável por retornar um objeto para a variável que foi passada como model.
         * Por padrão, o valor do model é o índice do item escolhido no array de itens (prop) e o item em si.
         */
        updateValue() {
            let updatedCopy = Object.assign({}, this.value, {
                index: this.model,
                item: this.itens[this.model]
            })

            this.$emit('input', updatedCopy)
        }
    }
}
</script>
