<template>
    <md-layout class="container-select">
        <md-layout class="select-mes">
            <contabilizei-select ref="selectMes" :label="labelMes" :itens="meses" v-model="model.mes" @input="updateDate()"></contabilizei-select>
        </md-layout>

        <md-layout class="select-ano">
            <contabilizei-select ref="selectAno" :label="labelAno" :itens="anos" v-model="model.ano" @input="updateDate()"></contabilizei-select>
        </md-layout>
    </md-layout>
</template>

<script>
import ContabilizeiSelect from '../../atoms/ContabilizeiSelect/ContabilizeiSelect'

export default {
    name: 'cc-select-mes-ano',

    components: { ContabilizeiSelect },

    props: {
        /* two-way data binding (v-model) */
        value: { required: true },

        labelMes: {
            type: String,
            default: 'Mês'
        },

        labelAno: {
            type: String,
            default: 'Ano'
        },

        meses: {
            type: Array,
            default: () => {
                return ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
            }
        },

        anos: {
            type: Array,
            default: () => {
                let arr = []
                const currentYear = new Date().getFullYear()

                // adiciona 4 anos antes e o ano atual
                for (let i = 0; i < 5; i++) {
                    arr.push(currentYear - i)
                }

                return arr
            }
        }
    },

    data() {
        return {
            model: this.getSelectModel()
        }
    },

    methods: {
        /**
         * Inicializa um objeto que será usado no v-model dos componentes contabilizei-select
         * @return {Object}
         */
        getSelectModel() {
            const keys = Object.keys(this.value)
            return {
                mes: this.value[keys[0]],
                // passa o index do ano para o component contabilizei-select, que utiliza os indices dos arrays como value
                ano: this.anos.indexOf(this.value[keys[1]])
            }
        },

        /**
         * Emite um objeto com os dados do componente atualizados, refletindo no v-model instanciado na criacao do componente
         * @return {Object}
         */
        updateDate() {
            // nao modifica a prop recebida.
            // emit um clone com os dados atualizados.
            let updatedCopy = Object.assign({}, this.value, {
                mes: this.model.mes.index,
                mesNome: this.model.mes.item,
                // anoIndex: this.modelAno.index,
                ano: this.model.ano.item
            })

            this.$emit('input', updatedCopy)
        }
    }
}
</script>

<style scoped>
    .container-select {
        width: 270px;
    }

    .select-mes {
        width: 135px;
        margin-right: 5px;
    }

    .select-ano {
        width: 135px;
    }
</style>
