<template>
    <div class="logo" style="flex: 1">
        <vue-typer :repeat='0' :text='text'></vue-typer>
        <div class="conta-dot"></div>
    </div>

</template>

<script>

export default {
    name: 'cc-logo-type',
    props: {
        text: {
            type: String,
            default: 'Contabilizei'
        }
    }
}

</script>

<style>
 .logo {
    margin: 24px 0px 0px 24px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff !important;
}

.conta-dot {
    border-radius: 50%;
    background: #04F7F7;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-bottom: -1px;
}

.typed {
    color: #fff !important;
}

.vue-typer .right {
    color: rgba(255, 255, 255, 0);
}

.vue-typer .custom.caret {
  display: none;
}

</style>
